{% extends "base.html" %}

{% block content %}

<h1>Новый клиент</h1>

<form method="post" action="/clients/create" class="edit-form">
    {{ csrf_input(request) }}
    <div class="form-row"><label class="label">Имя</label><input class="field" type="text" name="first_name" value="" required /></div>
    <div class="form-row"><label class="label">Фамилия</label><input class="field" type="text" name="last_name" value="" /></div>
    <div class="form-row"><label class="label">Отчество</label><input class="field" type="text" name="patronymic" value="" /></div>
    <div class="form-row"><label class="label">Год рождения</label><input class="field" type="number" name="birth_year" value="" /></div>
    <div class="form-row"><label class="label">Место рождения</label><input class="field" type="text" name="birth_place" value="" /></div>
    <div class="form-row"><label class="label">Телефон</label><input class="field" type="text" name="phone" value="" /></div>

    <div class="edit-actions">
        <button class="btn btn--small" type="submit">Сохранить</button>
        <a class="btn btn--ghost btn--small" href="/clients">Отмена</a>
    </div>
</form>

{% endblock %}
