{% extends "base.html" %}

{% block content %}

<h1>Новый клиент</h1>

<form method="post" action="/clients/create" class="form">
    {{ csrf_input(request) }}
    <div class="form__group"><label class="form__label">Имя</label><input class="form__input" type="text" name="first_name" value="" required /></div>
    <div class="form__group"><label class="form__label">Фамилия</label><input class="form__input" type="text" name="last_name" value="" /></div>
    <div class="form__group"><label class="form__label">Отчество</label><input class="form__input" type="text" name="patronymic" value="" /></div>
    <div class="form__group"><label class="form__label">Год рождения</label><input class="form__input" type="number" name="birth_year" value="" /></div>
    <div class="form__group"><label class="form__label">Место рождения</label><input class="form__input" type="text" name="birth_place" value="" /></div>
    <div class="form__group"><label class="form__label">Телефон</label><input class="form__input" type="text" name="phone" value="" /></div>
    <div class="form__group"><label class="form__label">Рост (см)</label><input class="form__input" type="number" name="height_cm" value="" min="50" max="250" /></div>
    <div class="form__group"><label class="form__label">Вес (кг)</label><input class="form__input" type="number" name="weight_kg" value="" min="20" max="300" /></div>
    <div class="form__group"><label class="form__label">% жира</label><input class="form__input" type="number" name="body_fat" value="" min="0" max="99" /></div>
    <div class="form__actions">
        <button class="btn btn--primary" type="submit">Сохранить</button>
        <a class="btn btn--secondary" href="/clients">Отмена</a>
    </div>
</form>

{% endblock %}
