{% extends "base.html" %}

{% block content %}

<div class="content-with-image">
    <div class="content-with-image__text">

<!-- основаня информция -->
<div class="panel">
    <div class="page__title">
        <h2>Что такое SUPERIOR?</h2>
    </div>
    <p>
        Камерная студия персональных силовых тренировок у Каскада.
    </p>
    <br>
    <p>
        Мы делаем акцент на качество, а не на количество. Мест всего 50 <br>
        Поэтому в SUPERIOR нет и не будет посторонних, шума и очередей
    </p>
</div>

<div class="panel panel--dark">
    <h2>Почему обычные залы не дают результата</h2>

    <p class="note">
    Переполненность и очереди — тренировка превращается в ожидание<br>
    Отсутствие контроля техники — риск ошибок и травм<br>
    Случайные тренировки без системы — нет прогрессии нагрузки<br>
    Недостаток внимания тренера — ты остаёшься один на один с проблемой<br>
    <br>
    В итоге ты тратишь время и деньги — но не получаешь результат
    </p>
</div>

<div class="panel">
    <h2>Мы гарантируем</h2>
    <ul>
        <p>✔ индивидуальную программу под твою цель и уровень</p>
        <p>✔ комфортную и приватную атмосферу</p>
        <p>✔ современное и безопасное оборудование</p>
        <p>✔ постоянный контроль техники и прогресса</p>
        <p>✔ полное сопровождение тренера на каждом этапе</p>
        <p>✔ и самое главное - <strong>РЕЗУЛЬТАТ!</strong></p>
    </ul>
</div>

    </div>
    
    <div class="content-with-image__image">
        <div class="page__controls">
            <a href="/signup" class="btn btn--primary"> Записаться на тренировку</a>
            <a href="/subscriptions" class="btn btn--primary"> Узнать цену</a>
        </div>

        <h2>Фигура мечты за 12 месяцев - это РЕАЛЬНО</h2>

        <img src="/static/photos/picture.png" alt="SUPERIOR Private Gym">
    </div>
</div>

{% endblock %}
