{% extends "base.html" %}

{% block content %}


<!-- слоган -->


<!-- основаня информция -->
<div class="panel">
    <div class="page__title">
        <h2>Что такое SUPERIOR?</h2>
        <a href="/signup" class="btn btn--primary"> Записаться на тренировку</a>
    </div>
    <p>
        Студия персональных силовых тренировок в приватном формате.
    </p>
    <br>
    <p>
        Мы делаем акцент на качество, а не на количество. <br>
        Поэтому в SUPERIOR нет и не будет посторонних, шума и очередей
    </p>
</div>

<br>
<br>
<br>

<div class="panel panel--dark">
    <h2>Почему обычные залы не дают результата</h2>

    <p class="note">
    Переполненность и очереди — тренировка превращается в ожидание<br>
    Отсутствие контроля техники — риск ошибок и травм<br>
    Случайные тренировки без системы — нет прогрессии нагрузки<br>
    Недостаток внимания тренера — ты остаёшься один на один с проблемой<br>
    <br>
    В итоге ты тратишь время и деньги — но не получаешь результат
    </p>
</div>

<br>
<br>
<br>

<div class="panel">
    <h2>Мы гарантируем</h2>
    <ul>
        <p>✔ индивидуальную программу под твою цель и уровень</p>
        <p>✔ комфортную и приватную атмосферу</p>
        <p>✔ современное и безопасное оборудование</p>
        <p>✔ постоянный контроль техники и прогресса</p>
        <p>✔ полное сопровождение тренера на каждом этапе</p>
        <p>✔ и самое главное - <strong>РЕЗУЛЬТАТ!</strong></p>
    </ul>
</div>


<br>
<br>
<br>




{% endblock %}
